

.sideLeftContent--wrapper {
    margin-left:2rem; 
    margin-right:2rem;

}
@media screen and  (min-width: 1024px) {
    .sideLeftContent {
        position:relative;
        width: 118.5rem;
        height:100%;
        display: flex;
        align-items: center;
        justify-content: center;
    
    
    }
    .sideLeftContent--wrapper {
        width:  112.2rem;
    }
    
}
