html {
    --zoom--scale:1;
    font-family: 'Mulish', sans-serif;
    font-size: calc((100dvh / 1234 * 10)) 

}

@media screen and  (min-width: 768px) and (max-aspect-ratio: 1440/1234) {
    html {
        font-size: calc((100vw / 1440 * 10));
    }
}