.tasksCard--title{
    height: 2.4rem;
    width: 50%;
    font-style: normal;
    font-weight: 700;
    font-size: 1.9rem;
    line-height: 2.4rem;
    letter-spacing: 0.04rem;
    color: #252733;
    display: inline-flex;
    align-items: center;
    margin-bottom: 0.8rem;
    padding-left: 3.2rem;
}

.tasksCard--all{

    height: 2rem;
    width: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: end;
    padding-right: 3.2rem;
    margin-top: 0.4rem;
    font-style: normal;
    font-weight: 600;
    font-size: 1.4rem;
    line-height: 2.0rem;
    letter-spacing: 0.02rem;
    color: #3751FF;
}



.tasksCard--day{
    height: 1.6rem;
    font-weight: 400;
    font-size:1.2rem;
    line-height: 1.6rem;
    letter-spacing: 0.01rem;
    margin-left: 3.2rem;
    color: #9FA2B4;
    display: flex;
    align-items: center;
    margin-bottom: 1.6rem;
    transform: translateX(0.15%);
}

.tasksCard--rowCreate{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding:  0 3.2rem;
}   


.tasksCard--rowCreate--placeholder{
    height: 2rem;
    font-weight: 600;
    font-size: 1.4rem;
    line-height: 2rem;
    letter-spacing: 0.02rem;
    font-style: normal;
    color: #C5C7CD;
    display: flex;
    align-items: center;
    margin-top: 2rem;
    margin-bottom:1.8rem ;

}

.tasksCard--rowCreate--media{
    width: 2.4rem;
    height: 2.4rem;
    margin: 1.7rem 0;
}

.tasksCard--rowCreate--media--img{
    width: 100%;
    height: 100%;
}