.dashboard {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: black;
}

.dashboard--wrapper {
    background-color: red;
    height: 100vh;
    width: 144rem;
    position: relative;
    display: flex;
 
}

.sideLeftContent {
    position:relative;
    width: 118,5rem;
    height:100%;
    display: flex;
    align-items: center;
    justify-content: center;


}
.sideLeftContent--wrapper {
    width:  112.2rem;
    margin-left:3rem; 
    margin-right:3.3rem; 
}
