html {
    width: auto;
    height: auto;
    --zoom--scale:1;
    font-family: 'Mulish', sans-serif;
    font-size: calc((100dvh / 1234 * 10) * var(--zoom--scale));    
}

@media screen and  (min-width: 768px) and (max-aspect-ratio: 1440/1234) {
    html {
        font-size: calc((100vw / 1440 * 10) * var(--zoom--scale));
    }
}

.dashboard {
    min-width: 100vw;
    width:calc(100vw * var(--zoom--scale));
    min-height:100dvh;
    max-height: calc(100vh * var(--zoom--scale));
    display: flex;
    justify-content: center;
    align-items: center;
    background: black;
}

.dashboard--wrapper {
    background-color: #F7F8FC;
    height: 123.4rem;
    width: 144rem;
    display: flex;
 
}

