.metricCard{
    height: 13.4rem;
    width:25.8rem ;
    border-radius: 0.8rem;
    background: #FFFFFF;
    border: 0.1rem solid #DFE0EB;
    box-sizing: content-box;
}
.metricCard:hover{
    border: 0.1rem solid #3751FF;
}
