.form{
    position:absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color:rgba(54,55,64,0.77) ;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    display: none;
}
.form--active{
    position:absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color:rgba(54,55,64,0.87) ;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    animation:  cubic-bezier(0.72, 0.07, 0.14, 0.89)   0.6s activeAnimation;
    animation-fill-mode: forwards 
}
@keyframes activeAnimation {
   100%{
    opacity:1;
   }  
}

@keyframes InactiveAnimation {
    100%{
     opacity:0;
    }  
 }
 

.formWrapper{
    width: 34.2rem;
    height: 54.6rem;
    background-color:#FFFFFF ;
    border: 0.1rem solid #DFE0EB;
    border-radius: 0.8rem;   
}
.form--title{
    width: 100%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-top:3.2rem;
    margin-bottom:3.2rem ;
    font-weight: 700;
    font-size: 2.4rem;
    line-height: 3rem;
    letter-spacing: 0.03rem;
    color: #252733;
   

}

.form--row{
    width: 100%;
    margin-bottom:1.6rem ;
}


.form--row--select--option__urgent{
   
    background-color: #FEC400;
}


